<h1>EAT-Da-Burger !</h1>

<div class="container">
  <div class="row">
    <div class="col" id="list-burgers">
      <h2 class="burger-title text-center">Burgers Available</h2>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}

    </div>
    {{/unless}}
    {{/each}}
    </ul>
    <div class="col" id="burger-gif">
      <img src="assets/img/burger.gif" class="text-center" id="gif">
    </div>
    <div class="col" id="list-devoured">
      <h2 class="burger-title text-center">Burgers Devoured!</h2>
      {{#each burgers}}
      {{#if devoured}}
    </div>
    <ul>

      {{> burgers/burger-block devoured=true}}
      {{/if}}
      {{/each}}
    </ul>

    <h2>Add a Burger</h2>
    <form id="add-burger" action="/burgers" class="create-form" method="POST"></form>

    <div class="form-group col-md-8">
      <label for="ca">Burger Name:</label>
      <input type="text" id="ca" name="name">
          <button type="submit" class="btn btn-default" id="submit-burger">ADD BURGER</button>

    </div>


    </form>